<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="<%= title %>.css" type="text/css" media="screen" charset="utf-8">
    </head>
    
<body>
	<div id="gamecontainer">
		<canvas id="gamecanvas" width="960" height="540" class="gamelayer"></canvas>
    
	<div id="gamestartscreen" class="gamelayer">
    	<span id="campaign" onClick="campaignselection.start();">Campaign</span><br>
        <span id="multiplayer" onClick="multiplayerselection.start();">Multiplayer</span><br>
        <span id="options" onclick = "optionsscreen.start();">Options</span><br>
        <span id="extras" onclick = "extrasscreen.start();">Extras</span><br>
        <span id="quit" onclick = "quit.start();">Quit</span><br>
    </div>
    
    
	</div>
    <script src="<%= library %>.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= title %>.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
